@page
@model Gravitas.Monitoring.Pages.CardListModel
@using Gravitas.Monitoring.HelpClasses
@{

}
<form method="post">
	<div class="row yozhstyle1">
		<div class="col-3">
			<h3>Тип картки</h3>
			<fieldset>
				<label style="padding-right: 7px;"><input type="radio" asp-for=CardType value="1" />1 - Користувач</label>
				<br />
				<label style="padding-right: 7px;"><input type="radio" asp-for="CardType" value="2" />2 - Водій</label>
				<br />
				<label style="padding-right: 7px;"><input type="radio" asp-for="CardType" value="3" />3 - Мітка</label>
				<br />
				<label style="padding-right: 7px;"><input type="radio" asp-for="CardType" value="4" />4 - Лоток</label>
			</fieldset>
		</div>
		<div class="col-3">
			<h3>Пошук по</h3>
			<fieldset>
				<label style="padding-right: 7px;"><input type="radio" asp-for="FindType" value="1" />Номер</label>
				<br />
				<label style="padding-right: 7px;"><input type="radio" asp-for="FindType" value="2" />Ідентифікатор</label>
			</fieldset>
		</div>
		<div class="col-3">
			<h3>Фільтр</h3>
			<input class="form-control" type="text" name="FindWhat" value="@Model.FindWhat" placeholder="NULL" />
		</div>
		<div class="col-3">
			<a href="./" class="btn btn-primary w-100">⏪ Назад до панелі</a><br />
			<br />
			<button class="btn btn-success w-100">🔍 Знайти</button>
		</div>
	</div>
</form>
	Пошук по ідентифікатору ігнорує тип картки
<br />
<br />
@Model.Cards.Count
<br />
<table class="yozhstyle1" style="display: inline-block;">
	<tr style="text-align:center;">
		<th class="brdr1sb headercolor">Ідентифікатор</th>
		<th class="brdr1sb headercolor">Номер</th>
		<th class="brdr1sb headercolor">Стан</th>
		<th class="brdr1sb headercolor">Тікет контейнер</th>
		<th class="brdr1sb headercolor">Користувач</th>
		<th class="brdr1sb headercolor">✏️</th>
	</tr>
	@if (Model.Cards.Count == 0)
	{
		<tr><td colspan="5">Нічого не знайдено...</td></tr>
	}
	@foreach (string[] s in Model.Cards)
	{
		<tr>
			<td class="brdr1sb">@s[0]</td>
			<td class="brdr1sb">@s[1]</td>
			<td class="brdr1sb">@s[2]</td>
			<td class="brdr1sb">@s[3]</td>
			<td class="brdr1sb">@s[4]</td>
			<td><a class="btn btn-primary" href="./CardInfo?CardId=@s[0]">✏️</a></td>
		</tr>
	}
</table>


