@page
@model Gravitas.Monitoring.Pages.CarInfoModel
@using Gravitas.Monitoring.HelpClasses
@{
	ViewData["Title"] = "Авто";
	bool fr = true;
	string g = "0";
}
<div class="row" style="margin-top:3px; margin-bottom: 5px;">
	<div class="col-3">
		<a href="./CarList" class="btn btn-primary w-100">⏪ Назад до списку авто</a>
	</div>
	<div class="col-3">
		<a href="./Replacelabel?tc=@Model.CurTC" class="btn btn-primary w-100">🔍 Пошук міток</a>
	</div>
	<div class="col-3">
		<a href="./OneCTest?tc=@Model.CurTC" class="btn btn-primary w-100">Дані по авто з 1C (~10с)</a>
	</div>
	<div class="col-3">
		<h5 class="w-100" style="text-align:center; vertical-align:middle; height:38px; border: 1px solid #ccc; border-radius: 3px; background-color: #fdb; cursor:default;">
			TicketContainerId: <b>@Model.tc</b>
		</h5>
	</div>
</div>
<br />
<div class="row">
	<div class="col-6">

		<h3>Маршрут: @Model.RouteNane</h3><br />
		<div class="yozhstyle1">


			<h5>Номенклатура: @Model.CurFeed</h5><br />
			<h5>Номер авто: @Model.CurCarNo</h5>
			<h5>Номер причепа: @Model.CurTrailerNo</h5>
			<br />
			<h5>Етапи проходження маршруту</h5>
			<h6>
				Останнє пройдене:
				Етап: @Model.LastRouteItem
				Вузол: [@Model.LastRouteNode] - @Model.LastRouteNodeName
			</h6>
		</div>

	</div>
	<div class="col-6">
		<h3>Маршрутний лист</h3>
		<table class="yozhstyle1" style="display:inline-block;">
			<tr><td class="brdr1sb headercolor"><center>Етап</center></td><td class="brdr1sb headercolor"><center>Вузли</center></td></tr>
			@foreach (string[] rs in Model.Route)
			{

				if (rs[0] == Model.LastRouteItem)
				{
					<tr><td class="brdr1sb">👉@rs[0]</td><td class="brdr1sb">@Html.Raw(rs[1])</td></tr>
				}
				else
				{
					<tr><td class="brdr1sb">@rs[0]</td><td class="brdr1sb">@Html.Raw(rs[1])</td></tr>
				}
			}
			@if (!Model.ShowLongRangeFlag)
			{
				<tr>
					<td colspan="2">
						<center>
							<form method="post">
								<input type="hidden" asp-for="ShowLongRangeFlag" value="true" />
								<input type="hidden" asp-for="tc" />
								<button type="submit" class="btn btn-primary mt-1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
										<path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707m2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708m5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708m2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8" />
									</svg>
									Показати антени (~10c)
								</button>
							</form>
						</center>
					</td>
				</tr>
			}
		</table>

	</div>
</div>
<br />
<div class="row">
	<div class="col-6">
		<h3>Картки і мітки</h3>
		<table class="yozhstyle1" style="display:inline-block;">
			<tr><td colspan="3" class="brdr1sb headercolor">Картка водія</td></tr>
			@foreach (string[] s in Model.lst1)
			{
				<tr><td class="brdr1sb">@s[0]</td><td class="brdr1sb">@s[1]</td></tr>
			}
			<tr><td colspan="3" class="brdr1sb headercolor">Мітка авто</td></tr>
			@foreach (string[] s in Model.lst2)
			{
				<tr><td class="brdr1sb">@s[0]</td><td class="brdr1sb">@s[1]</td></tr>
			}
			<tr><td colspan="3" class="brdr1sb headercolor">Картка лотка</td></tr>
			@foreach (string[] s in Model.lst3)
			{
				<tr><td class="brdr1sb">@s[0]</td><td class="brdr1sb">@s[1]</td></tr>
			}
		</table><br /><br />
	</div>
	<div class="col-6">
		<h3>Редактор маршрутних листів</h3>
		<table class="yozhstyle1" style="display:inline-block;">
			<tr style="text-align: center;">
				<td class="brdr1sb headercolor">id</td>
				<td class="brdr1sb headercolor">Статус</td>
				<td class="brdr1sb headercolor">Маршрут</td>
				<td class="brdr1sb headercolor">Етап</td>
				<td class="brdr1sb headercolor">Доп. маршрут</td>
				<td class="brdr1sb headercolor">Доп. етап</td>
				<td class="brdr1sb headercolor">✏️</td>
			</tr>
			@foreach (string[] s in Model.TicketsList)
			{
				<tr>
					<td class="brdr1sb">@s[5]</td>
					<td class="brdr1sb">@s[0]</td>
					<td class="brdr1sb">@s[1]</td>
					<td class="brdr1sb">@s[2]</td>
					<td class="brdr1sb">@s[3]</td>
					<td class="brdr1sb">@s[4]</td>
					<td class="brdr1sb"><a href="./TicketEdit?t=@s[5]" class="btn btn-primary">✏️</a></td>
				</tr>
			}
		</table>

	</div>
</div>
<div class="row">
	<br />
	<br />
	<h3>Проходження вузлів на маршруті</h3>
	<div style="overflow: auto;">
		<table Class="yozhstyle1" style="display: inline-block; margin-bottom: 8px;">
			@{
				int c = 0;
				int t = 0;
			}
			@foreach (string[] s in Model.CarProgress)
			{
				t = 1;
				<tr>
					@foreach (string ss in s)
					{
						if (t > 0)
						{
							@if (c == 0)
							{
								<td class="brdr1sb headercolor">
									@Html.Raw(ss)
								</td>
							}
							else
							{
								if (ss == "###")
								{
									<td class="brdr1sb">
										<a href="./ChangeLoadSiloNum?tc=@Model.tc&id=@s[0]" class="btn btn-primary">✏️</a>
									</td>
								}
								else
								{
									<td class="brdr1sb">
										@Html.Raw(ss)
									</td>
								}
							}
						}
						t++;
					}
				</tr>
				c++;
			}
		</table>
	</div>
</div>
<br />
<div class="row">
</div>
<br />
<a href="./CarList" class="btn btn-primary">⏪ Назад до списку авто</a>
