@page
@model Gravitas.Monitoring.Pages.CarListModel
@using Gravitas.Monitoring.HelpClasses
@{
	ViewData["Title"] = "Автівки";
}
<form method="post">
	<div class="row yozhstyle1" style="margin-top: 3px;">
		<div class="col-2">
			<input type="checkbox" asp-for="f1" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f1" class="control-label">1 - Новий</label><br />
			<input type="checkbox" asp-for="f2" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f2" class="control-label">2 - В обробці</label><br />
			<input type="checkbox" asp-for="f3" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f3" class="control-label">3 - Доопрацювання</label><br />
			<input type="checkbox" asp-for="f4" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f4" class="control-label">4 - В роботі</label>
		</div>
		<div class="col-2">
			<input type="checkbox" asp-for="f5" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f5" class="control-label">5 - Завершено</label><br />
			<input type="checkbox" asp-for="f6" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f6" class="control-label">6 - Проведено</label><br />
			<input type="checkbox" asp-for="f10" style="margin-left: 2px; margin-right: 2px;" /><label asp-for="f10" class="control-label">10 - Відхилено</label>
		</div>
		<div class="col-2">
			<label asp-for="fDate" class="control-label">Дата</label><br /><input type="date" asp-for="fDate" class="form-control w-100" />
			<input type="checkbox" asp-for="fOneDay" /><label asp-for="fOneDay" class="control-label">Одна доба</label>
		</div>
		<div class="col-2">
			<label asp-for="CarNum" class="control-label">№ Авто</label><input type="text" asp-for="CarNum" class="form-control w-100" />
		</div>
		<div class="col-2">
			<label asp-for="FindTC" class="control-label">TicketContainerId</label><input style="background-color: antiquewhite" type="text" asp-for="FindTC" class="form-control w-100" />
		</div>
		<div class="col-2">
			<a href="./" class="btn btn-primary w-100 m-1">⏪ Назад до панелі</a>
			<br />
			<input type="submit" value="🔍 Знайти" class="btn btn-success w-100 m-1" />
		</div>
	</div>
</form>
<div>
	@if (Model.lstData.Count > 0)
	{
		<p>Знайдено @Model.lstData.Count шт.</p>
	}
	else
	{
		<p>Нічого не знайдено</p>
	}
</div>
@foreach (string[] s in Model.lstData)
{
	<br />
	<table class="yozhstyle1" style="display: inline-block; margin-top: 5px;">
		<tr>
			<td class="brdr1sb headercolor">Картка (Тікетів)</td>
			<td class="brdr1sb">@s[0] (@s[6])</td>
			<td class="brdr1sb headercolor">Авто</td>
			<td class="brdr1sb">@s[2]</td>
			<td rowspan="6" class="brdr1sb">
				<form method="get" action="CarInfo">
					<input type="hidden" name="tc" value=@s[7] />
					<button type="submit" class="btn btn-primary">&raquo;</button>
				</form>
			</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">Номенклатура</td>
			<td colspan="3" class="brdr1sb">@s[3]</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">Маршрут</td>
			<td colspan="3" class="brdr1sb">@s[4]</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">Вікно</td>
			<td class="brdr1sb">@s[1]</td>
			<td class="brdr1sb headercolor">Стан</td>
			<td class="brdr1sb">@s[5]</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">ТікетКонтейнер</td>
			<td class="brdr1sb">@s[7]</td>
			<td class="brdr1sb headercolor">Етап</td>
			<td class="brdr1sb">@s[10]</td>

		</tr>
		<tr>
			<td class="brdr1sb headercolor">Реєстрація</td>
			<td class="brdr1sb">@s[8]</td>
			<td class="brdr1sb headercolor">Виїзд</td>
			<td class="brdr1sb">@s[9]</td>
		</tr>
	</table>
}