@page
@model Gravitas.Monitoring.Pages.CarListModel
@using Gravitas.Monitoring.HelpClasses
@{
	ViewData["Title"] = "Автівки";
}
<form method="post" style="box-shadow: 10px 5px 5px rgba(0,0,0,0.3); border: 1px solid black; padding: 5px; margin-top: 5px;">
	<div class="form-group" style="display: block;">
		<input type="checkbox" asp-for="f1" /><label asp-for="f1" class="control-label">1 - Новий</label>
		<input type="checkbox" asp-for="f2" /><label asp-for="f2" class="control-label">2 - В обробці</label>
		<input type="checkbox" asp-for="f3" /><label asp-for="f3" class="control-label">3 - Доопрацювання</label>
		<input type="checkbox" asp-for="f4" /><label asp-for="f4" class="control-label">4 - В роботі</label>
		<input type="checkbox" asp-for="f5" /><label asp-for="f5" class="control-label">5 - Завершено</label>
		<input type="checkbox" asp-for="f6" /><label asp-for="f6" class="control-label">6 - Проведено</label>
		<input type="checkbox" asp-for="f10" /><label asp-for="f10" class="control-label">10 - Відхилено</label>
	</div>
	<div class="form-group">
		<label asp-for="fDate" class="control-label">Дата</label><input type="date" asp-for="fDate" />
		<input type="checkbox" asp-for="fOneDay" /><label asp-for="fOneDay" class="control-label">Одна доба</label>
	</div>
	<div class="form-group">
		<label asp-for="CarNum" class="control-label">№ Авто</label><input type="text" asp-for="CarNum" />
		<input type="submit" value="Знайти" class="btn btn-success" />
	</div>
</form>
<div>
	@if (Model.lstData.Count > 0)
	{
		<p>Знайдено @Model.lstData.Count шт.</p>
	}
	else
	{
		<p>Нічого не знайдено</p>
	}
</div>
@foreach (string[] s in Model.lstData)
{
	<br />
	<table class="yozhstyle1" style="box-shadow: 10px 5px 5px rgba(0,0,0,0.3); display: inline-block;">
		<tr>
			<td class="brdr1sb headercolor">Картка (Тікетів)</td>
			<td class="brdr1sb">@s[0] (@s[6])</td>
			<td class="brdr1sb headercolor">Авто</td>
			<td class="brdr1sb">@s[2]</td>
			<td rowspan="6" class="brdr1sb">
				<form method="get" action="CarInfo">
					<input type="hidden" name="tc" value=@s[7] />
					<button type="submit" class="btn btn-primary">&raquo;</button>
				</form>
			</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">Номенклатура</td>
			<td colspan="3" class="brdr1sb">@s[3]</td>

		</tr>
		<tr>
			<td class="brdr1sb headercolor">Маршрут</td>
			<td colspan="3" class="brdr1sb">@s[4]</td>

		</tr>
		<tr>
			<td class="brdr1sb headercolor">Вікно</td>
			<td class="brdr1sb">@s[1]</td>
			<td class="brdr1sb headercolor">Стан</td>
			<td class="brdr1sb">@s[5]</td>
		</tr>
		<tr>
			<td class="brdr1sb headercolor">ТікетКонтейнер</td>
			<td class="brdr1sb">@s[7]</td>
			<td class="brdr1sb headercolor">Етап</td>
			<td class="brdr1sb">@s[10]</td>

		</tr>
		<tr>
			<td class="brdr1sb headercolor">Реєстрація</td>
			<td class="brdr1sb">@s[8]</td>
			<td class="brdr1sb headercolor">Виїзд</td>
			<td class="brdr1sb">@s[9]</td>
		</tr>
	</table>
}