@page
@model Gravitas.Monitoring.Pages.ChangeStateIdModel
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager

@{
}
@if (SignInManager.IsSignedIn(User))
{
	@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Modifier))
	{
		<center>
			<h3> Виберіть новий стан для <b>@Model.NodeName</b></h3>
			<h2> Поточний статус: <b>@Model.GetNodeStatus(Model.StateId)</b></h2>
			<br />
			<div class="row">
				<div class="col-3"></div>
				<div class="col-3">
					@for (int i = 1; i < 7; i++)
					{
						<form method="post">
							<input type="hidden" asp-for="@Model.NewStateId" value="@i" />
							<button class="btn btn-primary" style="width: 100%; margin: 2px;" type="submit" value="@i">@Model.GetNodeStatus("" + i)</button>
						</form>
					}
				</div>
				<div class="col-3">
					@for (int j = 10; j < 16; j++)
					{
						<form method="post">
							<input type="hidden" asp-for="@Model.NewStateId" value="@j" />
							<button class="btn btn-primary" style="width: 100%; margin: 2px;" type="submit" value="@j">@Model.GetNodeStatus("" + j)</button>
						</form>
					}
				</div>
				<div class="col-3"></div>
			</div>
			<br /><a href="./CarInfo?tc=@Model.tc" class="btn btn-primary">Назад до інформації про авто</a>
			<br /><br /><p>@Model.Result</p>
		</center>
	}
	else
	{
		<h1>Не достатньо прав...</h1>
	}
}
else
{
	<h1>Користувач не авторизований...</h1>
}