@page
@model Gravitas.Monitoring.Pages.NodesModel
@{
	ViewData["Title"] = "Вузли";
}
<h3 class="text-center">Реєстру вузлів та обладнання на них</h3>
<br />
<div class="row">
	<div class="col-6">
		<h3>Вузли</h3>
		<div class="yozhstyle1" style="height: 500px; overflow: auto; dicplay: inline-block;">

			@foreach (string[] s in Model.nodes)
			{
				<form method="post">
					@if (Model.CurNode == s[0])
					{
						<input type="hidden" asp-for=CurNode value="@s[0]" />
						<button type="submit" class="btn btn-primary" style="margin: 2px; width: 100%;" title="@s[0]">@s[3]</button>
					}
					else
					{
						<input type="hidden" asp-for=CurNode value="@s[0]" />
						<button type="submit" class="btn btn-outline-primary" style="margin: 2px; width: 100%;" title="@s[0]">@s[3]</button>
					}
				</form>
			}
		</div>
		<center>
			<br />
			<br />
			<a href="./" class="btn btn-primary">⏪ Назад до панелі</a>
			<a href="./VKModuleData" class="btn btn-primary">VK модлулі ⏩</a><br />
		</center>
	</div>
	<div class="col-6">
		<h3>Вибраний вузол (@Model.CurNode)</h3>
		<p style="font-size: 24pt;"><a href="https://bulat.mzvkk.mhp.com.ua/Node/Routine/@Model.CurNode" class="btn btn-primary" target="_blank">⏩</a> @Model.CurNodeName</p>
		<h4>Обладнання вузла</h4>
		<div class="yozhstyle1" style="width: 100%; min-height: 200px; border: 1px solid black; background-color: #ffffee;">
			@foreach (string[] nDevice in Model.CurDevices)
			{
				@nDevice[0]
				<a href="./Device?DeviceId=@nDevice[0]" class="btn btn-primary" style="margin: 2px; min-width: 70%;" title="@nDevice[0]">🛠️ @nDevice[1] </a>
				<br />
			}
		</div><br />
		<h4>Стан вузла</h4>
		<table class="yozhstyle1" style="display: inline-block;">
			@foreach (string[] sContext in Model.NodeContext)
			{
				if (sContext[0] != "OpDataComponentId" && sContext[0] != "OpProcessData" && sContext[0] != "ResponsibleUserId")
				{
					<tr><td class="brdr1sb headercolor">@sContext[0]</td><td class="brdr1sb">@sContext[1]</td></tr>
				}
			}
		</table>
		<br />
		@if (!string.IsNullOrEmpty(Model.wndCLR))
		{
			<br />
			<a href="./ClearNode?NodeId=@Model.CurNode" class="btn btn-primary w-50">🧼 Скинути вузол</a>
		}
	</div>
</div>