@page
@model Gravitas.Monitoring.Pages.NodesModel
@{
	ViewData["Title"] = "Вузли";
}
<div class="row">
	<div class="col-6">
		<h3>Вузли</h3>
		<div class="yozhstyle1" style="height: 500px; overflow: auto; dicplay: inline-block;">

			@foreach (string[] s in Model.nodes)
			{
				<form method="post">
					@if (Model.CurNode == s[0])
					{
						<input type="hidden" asp-for=CurNode value="@s[0]" />
						<button type="submit" class="btn btn-primary" style="margin: 2px; width: 100%;" title="@s[0]">@s[3]</button>
					}
					else
					{
						<input type="hidden" asp-for=CurNode value="@s[0]" />
						<button type="submit" class="btn btn-outline-primary" style="margin: 2px; width: 100%;" title="@s[0]">@s[3]</button>
					}
				</form>
			}
		</div>
	</div>
	<div class="col-6">
		@*
		<input type="hidden" asp-for="CurNode" />
		<button type="submit" class="btn btn-primary">🔃 Отримати дані</button>
		*@
		<h3>Вибраний вузол</h3>
		<p style="font-size: 24pt;">(@Model.CurNode) - @Model.CurNodeName</p>
		<p>Обладнання вузла</p>
		<div class="yozhstyle1" style="width: 100%; min-height: 200px; border: 1px solid black; background-color: #ffffee;">
			@foreach (string[] nDevice in Model.CurDevices)
			{
				<a href="./Device?DeviceId=@nDevice[0]" class="btn btn-primary" style="margin: 2px;" title="@nDevice[0]">🛠️ @nDevice[1] </a>
				<br />
			}
		</div><br />
		<p>Стан вузла</p>
		<table class="yozhstyle1" style="display: inline-block;">
			@foreach (string[] sContext in Model.NodeContext)
			{
				<tr><td class="brdr1sb headercolor">@sContext[0]</td><td class="brdr1sb">@sContext[1]</td></tr>
			}
		</table>
		<br />
	</div>
</div>