@page
@model Gravitas.Monitoring.Pages.ReplaceLabelModel
@{
}
<form method="post">
	<div class="row">
		<div class="col-4">
			<fieldset>
				@foreach (string[] s in Model.AntennaList)
				{
					if (Model.CurAntenna == s[2])
					{
						<label><input type="radio" asp-for="CurAntenna" value="@s[2]" checked />(@s[0])@s[1]</label>
					}
					else
					{
						<label><input type="radio" asp-for="CurAntenna" value="@s[2]" />(@s[0])@s[1]</label>
					}
					<br />
				}
			</fieldset>
		</div>
		<div class="col-8">
			<p>Мітка авто</p>
			<p style="font-size: 24pt;">@Model.CurLabel</p>
			<div style="width: 100%; height: 300px; border: 1px solid black; background-color: #ffffee">
				@Model.DeviceRawData
				<br /><br />
				@Html.Raw(Model.ParsedData)

			</div><br />
			<input type="hidden" asp-for="CurLabel" />
			<button type="submit" class="btn btn-primary">🔃 Отримати дані</button>
			<a href="./CarInfo?tc=@Model.tc" class="btn btn-primary" style="margin: 2px;">⏪ Назад до авто</a>
			@*
			<table class="yozhstyle1" style="display:inline-block;">
			@foreach (string s in Model.ParsedLabels)
			{
			<tr>
			<td class="brdr1sb">
			@s
			</td>
			<td class="brdr1sb">
			<a asp-action="TestProc(@s)">ass</a>
			</td>
			<td class="brdr1sb">
			</td>
			</tr>
			}
			</table>
			*@
		</div>
	</div>
</form>